{
  "$schema": "https://json.schemastore.org/commitlintrc.json",
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "address",
        "config",
        "datee",
        "packages",
        "phone",
        "workflow"
      ]
    ]
  }
}
