{
  "$schema": "https://json.schemastore.org/commitlintrc.json",
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "address",
        "config",
        "datee",
        "nestjs-contextual-pino",
        "nestjs-transactional-typeorm",
        "packages",
        "phone",
        "regex",
        "strict-class-transformer",
        "templates",
        "types",
        "utility",
        "workflow"
      ]
    ]
  }
}
